.chat {
  position: fixed;
  bottom: 90px;
  right: 55px;
}

.chat > a {
  width: 40%;
}

.chat > a > img {
  width: 40%;
}

@media screen and (max-width: 768px) {
  .chat {
    bottom: 35px;
    right: -80px;
  }
}
