header {
  width: 100vw;
  height: 203px;
  background-color: white;
}

.header__contents {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 35px;
}

.header__inner {
  position: relative;
  background-color: #edf1f5;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.header__inner-contents {
  width: 100vw;
  max-width: 1240px;
  margin: 0 auto;
}

.header__inner > .header__inner-contents > .header__inner-text {
  font-size: 13px;
  font-weight: bold;
  margin-left: 30px;
}

.header__inner-text::before {
  content: "";
  display: block;
  position: absolute;
  left: 99px;
  top: 50%;
  margin-top: -8px;
  width: 24px;
  height: 16px;

  background-image: url("img/top_ban_ico_flag.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left center;
}

.header__site-controls {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  font-size: 14px;
}

.header__site-controls > li > a {
  background-color: transparent;
  padding: 2px 5px;
  border-radius: 6px;
  transition: all 0.5s;
}

.header__site-controls > li > a:hover {
  cursor: pointer;
  background-color: #edf1f5;
}

.header__site-controls > li::after {
  content: "|";
  color: #edf1f5;
  margin-left: 10px;
}

.header__site-controls > li:last-child::after {
  content: "";
  margin-left: 0;
}

.header__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.header__topbar > .user-controls {
  display: flex;
  gap: 50px;

  font-weight: bold;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.header__menu > .menu-list {
  display: flex;
  gap: 30px;
}

.header__menu > .menu-list > li {
  cursor: pointer;
}

.header__menu > i {
  cursor: pointer;
}

.header__line {
  border: 1px solid #edf1f5;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 183px;
  }
  .header__contents {
    max-width: 680px;
    gap: 25px;
    display: flex;
  }

  .header__inner-contents {
    max-width: 680px;
  }

  .header__inner {
    padding: 10px;
    margin-bottom: 10px;
  }

  .header__inner > .header__inner-contents > .header__inner-text {
    font-size: 8px;
    margin-left: 30px;
  }

  .header__inner-text::before {
    left: 50px;
    top: 64%;
    width: 20px;
    height: 12px;
  }

  .header__menu > .menu-list > li {
    font-size: 13px;
  }
}
