main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero {
  width: 100vw;
  background-image: url("img/visual_img01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__contents {
  width: 100%;
  max-width: 1240px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 150px;
}

.hero__contents > h2 {
  font-size: 35px;
  color: #515157;
  font-weight: 500;

  padding-top: 18%;
}

.hero__contents > h2 > span {
  font-weight: bold;
}

.hero__service {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero__service > h3 {
  font-size: 30px;
  font-weight: bold;
}

.service__menu {
  display: flex;
  padding: 20px 10px;
  gap: 50px;
  align-items: center;
  justify-content: center;

  background-color: white;
  border: none;
  border-radius: 20px;

  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service__menu > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.service__menu > li > a > span {
  text-align: center;
  text-decoration: none;
}

.service__menu > li > a:hover > span {
  text-decoration: underline;
  color: red;
}

.service__menu > li > a > .more {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .hero__contents {
    max-width: 680px;
  }

  .hero__service > h3 {
    font-size: 25px;
  }

  .service__menu {
    display: initial;
    padding: 30px 20px;
  }
  .service__menu > li {
    width: 20%;
    float: left;
  }

  .service__menu > .gap {
    margin-bottom: 30px;
  }
  .service__menu > li > a > .more {
    margin-top: 40px;
  }
}
